USE [master]
GO
/****** Object:  Database [finnance1]    Script Date: 3/12/2026 8:30:03 PM ******/
CREATE DATABASE [finnance1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'finnance1', FILENAME = N'D:\sql\MSSQL17.SQLEXPRESS\MSSQL\DATA\finnance1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'finnance1_log', FILENAME = N'D:\sql\MSSQL17.SQLEXPRESS\MSSQL\DATA\finnance1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [finnance1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [finnance1]
GO
/****** Object:  Schema [fin]    Script Date: 3/12/2026 8:30:03 PM ******/
CREATE SCHEMA [fin]
GO
USE [finnance1]
GO
/****** Object:  Sequence [fin].[seq_address]    Script Date: 3/12/2026 8:30:03 PM ******/
CREATE SEQUENCE [fin].[seq_address] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [finnance1]
GO
/****** Object:  Sequence [fin].[seq_due]    Script Date: 3/12/2026 8:30:03 PM ******/
CREATE SEQUENCE [fin].[seq_due] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [finnance1]
GO
/****** Object:  Sequence [fin].[seq_financee]    Script Date: 3/12/2026 8:30:04 PM ******/
CREATE SEQUENCE [fin].[seq_financee] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [finnance1]
GO
/****** Object:  Sequence [fin].[seq_financer]    Script Date: 3/12/2026 8:30:04 PM ******/
CREATE SEQUENCE [fin].[seq_financer] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [finnance1]
GO
/****** Object:  Sequence [fin].[seq_financer1]    Script Date: 3/12/2026 8:30:04 PM ******/
CREATE SEQUENCE [fin].[seq_financer1] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [finnance1]
GO
/****** Object:  Sequence [fin].[seq_financer3]    Script Date: 3/12/2026 8:30:04 PM ******/
CREATE SEQUENCE [fin].[seq_financer3] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [finnance1]
GO
/****** Object:  Sequence [fin].[seq_loan]    Script Date: 3/12/2026 8:30:04 PM ******/
CREATE SEQUENCE [fin].[seq_loan] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [fin].[financer]    Script Date: 3/12/2026 8:30:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fin].[financer](
	[financer_id] [varchar](10) NOT NULL,
	[name] [varchar](20) NULL,
	[phonenumber] [varchar](10) NULL,
	[password] [varchar](255) NULL,
	[total_financees] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[financer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[phonenumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_financer_name]    Script Date: 3/12/2026 8:30:04 PM ******/
CREATE NONCLUSTERED INDEX [idx_financer_name] ON [fin].[financer]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [fin].[sp_InsertAddress]    Script Date: 3/12/2026 8:30:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [fin].[sp_InsertAddress]
    @financee_id VARCHAR(10),
    @door_no VARCHAR(10),
    @street_name VARCHAR(100),
    @city VARCHAR(50),
    @state VARCHAR(50),
    @pincode INT
AS
BEGIN

    DECLARE @nextNum INT
    DECLARE @address_id VARCHAR(10)

    SET @nextNum = NEXT VALUE FOR fin.seq_address

    SET @address_id = 'add' + RIGHT('000000' + CAST(@nextNum AS VARCHAR(6)),6)

    INSERT INTO fin.address(address_id,financee_id,door_no,street_name,city,state,pincode)
    VALUES(@address_id,@financee_id,@door_no,@street_name,@city,@state,@pincode)

END
GO
/****** Object:  StoredProcedure [fin].[sp_InsertDue]    Script Date: 3/12/2026 8:30:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [fin].[sp_InsertDue]
    @loan_id VARCHAR(10),
    @due_amount DECIMAL(18,2),
    @due_date DATE
AS
BEGIN

    DECLARE @nextNum INT
    DECLARE @due_id VARCHAR(10)

    SET @nextNum = NEXT VALUE FOR fin.seq_due

    SET @due_id = 'due' + RIGHT('000000' + CAST(@nextNum AS VARCHAR(6)),6)

    INSERT INTO fin.due(due_id,loan_id,due_amount,due_date)
    VALUES(@due_id,@loan_id,@due_amount,@due_date)

END
GO
/****** Object:  StoredProcedure [fin].[sp_InsertFinancee]    Script Date: 3/12/2026 8:30:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [fin].[sp_InsertFinancee]
    @name VARCHAR(20),
    @phonenumber VARCHAR(10)
AS
BEGIN

    DECLARE @nextNum INT
    DECLARE @financee_id VARCHAR(10)

    SET @nextNum = NEXT VALUE FOR fin.seq_financee

    SET @financee_id = 'fine' + RIGHT('000000' + CAST(@nextNum AS VARCHAR(6)),6)

    INSERT INTO fin.financee(financee_id,name,phonenumber)
    VALUES(@financee_id,@name,@phonenumber)

END
GO
/****** Object:  StoredProcedure [fin].[sp_InsertFinancer]    Script Date: 3/12/2026 8:30:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [fin].[sp_InsertFinancer]
    @name VARCHAR(20),
    @phonenumber VARCHAR(10),
    @password VARCHAR(255),
    @total_financees INT
AS
BEGIN

    DECLARE @nextNum INT
    DECLARE @financer_id VARCHAR(10)

    SET @nextNum = NEXT VALUE FOR fin.seq_financer

    SET @financer_id = 'finr' + RIGHT('000000' + CAST(@nextNum AS VARCHAR(6)),6)

    INSERT INTO fin.financer(financer_id,name,phonenumber,password,total_financees)
    VALUES(@financer_id,@name,@phonenumber,@password,@total_financees)

    SELECT @financer_id AS financer_id

END
GO
/****** Object:  StoredProcedure [fin].[sp_InsertFinancer3]    Script Date: 3/12/2026 8:30:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [fin].[sp_InsertFinancer3]
    @name VARCHAR(20),
    @phonenumber VARCHAR(10),
    @password VARCHAR(255),
    @total_financees INT
AS
BEGIN

    DECLARE @nextNum INT
    DECLARE @financer_id VARCHAR(10)

    SET @nextNum = NEXT VALUE FOR fin.seq_financer3

    SET @financer_id = 'finr' + RIGHT('000000' + CAST(@nextNum AS VARCHAR(6)),6)

    INSERT INTO fin.financer(financer_id,name,phonenumber,password,total_financees)
    VALUES(@financer_id,@name,@phonenumber,@password,@total_financees)

    SELECT @financer_id AS financer_id

END
GO
/****** Object:  StoredProcedure [fin].[sp_InsertLoan]    Script Date: 3/12/2026 8:30:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   CREATE PROCEDURE [fin].[sp_InsertLoan]
    @financer_id VARCHAR(10),
    @financee_id VARCHAR(10),
    @total_amount DECIMAL(18,2),
    @interest INT,
    @paid_amount DECIMAL(18,2),
    @balance DECIMAL(18,2),
    @due_end_date DATE
AS
BEGIN

    DECLARE @nextNum INT
    DECLARE @loan_id VARCHAR(10)

    SET @nextNum = NEXT VALUE FOR fin.seq_loan

    SET @loan_id = 'loan' + RIGHT('000000' + CAST(@nextNum AS VARCHAR(6)),6)

    INSERT INTO fin.loan(loan_id,financer_id,financee_id,total_amount,interest,paid_amount,balance,due_end_date)
    VALUES(@loan_id,@financer_id,@financee_id,@total_amount,@interest,@paid_amount,@balance,@due_end_date)

END
GO
/****** Object:  StoredProcedure [fin].[sp_LoginFinancer]    Script Date: 3/12/2026 8:30:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [fin].[sp_LoginFinancer]
@phonenumber VARCHAR(10),
@password VARCHAR(255)
AS
BEGIN

SELECT financer_id
FROM fin.financer
WHERE phonenumber=@phonenumber
AND password=@password

END
GO
/****** Object:  StoredProcedure [fin].[sp_UpdateFinancerName]    Script Date: 3/12/2026 8:30:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [fin].[sp_UpdateFinancerName]
    @financer_id VARCHAR(10),
    @name VARCHAR(20)
AS
BEGIN

    UPDATE fin.financer
    SET name = @name
    WHERE financer_id = @financer_id

END
GO
/****** Object:  StoredProcedure [fin].[sp_UpdateName]    Script Date: 3/12/2026 8:30:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [fin].[sp_UpdateName]
    @financer_id VARCHAR(10),
    @name VARCHAR(20)
AS
BEGIN

UPDATE fin.financer
SET name = @name
WHERE financer_id = @financer_id

END
GO
/****** Object:  StoredProcedure [fin].[sp_UpdateName3]    Script Date: 3/12/2026 8:30:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [fin].[sp_UpdateName3]
    @financer_id VARCHAR(10),
    @name VARCHAR(20)
AS
BEGIN

UPDATE fin.financer
SET name = @name
WHERE financer_id = @financer_id

END
GO
/****** Object:  StoredProcedure [fin].[sp_UpdatePassword]    Script Date: 3/12/2026 8:30:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [fin].[sp_UpdatePassword]
@phonenumber VARCHAR(10),
@password VARCHAR(255)
AS
BEGIN

UPDATE fin.financer
SET password = @password
WHERE phonenumber = @phonenumber

END
GO
USE [master]
GO
